extends layout

block content
  form(action='' method='POST' class='col-sm-6 offset-sm-3 d-flex flex-column bg-dark p-3')
    h1(class='align-self-center') Login
    div(class='form-group')
      label(for='email' class='form-label') Email
      input(
        id='email' 
        name='email' 
        type='email' 
        required='true' 
        value=((user===undefined) ? '' : user.email)
        class='form-control'
      )
    div(class='form-group')
      label(for='password' class='form-label') Password
      input(
        id='password' 
        name='password' 
        type='password' 
        required='true' 
        value=((user===undefined) ? '' : user.password)
        class='form-control'
      )
    button(type='submit' class='btn btn-primary align-self-center') Login
  
    if errors 
      div(class='text-danger') 
        ul 
          for error in errors
            li!= error.msg
    if alert 
      p(class='text-info')= alert