extends layout

block content
  form(action='' method='POST' class='col-sm-6 offset-sm-3 d-flex flex-column bg-dark p-3')
    h1(class='align-self-center')= title
    div(class='form-group')
      label(for='secret-passcode' class='form-label') Secret Passcode
      input(
        id='secret-passcode'
        name='secret_passcode' 
        type='password' 
        required='true' 
        value=((passcode===undefined) ? '' : passcode)
        class='form-control'
      )
    button(type='submit' class='btn btn-primary align-self-center') Submit
  
    if error
      div(class='text-danger') #{error}
    
    if title == 'Member Login' && currentUser.member
      div(class='text-danger') You are already a member
    if title == 'Admin Login' && currentUser.admin
      div(class='text-danger') You are already an admin