extends layout

block content
  form(action='' method='POST' class='col-sm-6 offset-sm-3 d-flex flex-column bg-dark p-3')
      h3(class='align-self-center') New Message
      div(class='form-group')
        label(for='title' class='form-label') Title
        input(
          id='title' 
          name='title' 
          type='text' 
          required='true' 
          maxlength='50'
          placeholder='Limit of 50 characters'
          class='form-control'
        )
      div(class='form-group')
        label(for='text' class='form-label') Message
        textarea(
          id='text' 
          name='text' 
          required='true' 
          rows='3'
          maxlength='140'
          placeholder='Limit of 140 characters'
          class='form-control'
        )
      button(type='submit' class='btn btn-primary align-self-center') Submit