extends layout

block content
  form(action='' method='POST' class='col-sm-6 offset-sm-3 d-flex flex-column')
    h1 Sign Up
    div(class='form-group')
      label(for='first-name' class='form-label') First Name:
      input(
        id='first-name' 
        name='first_name' 
        type='text' 
        required='true' 
        value=((user===undefined) ? '' : user.first_name)
        class='form-control'
      )
    div(class='form-group')
      label(for='last-name' class='form-label') Last Name:
      input(
        id='last-name' 
        name='last_name' 
        type='text' 
        required='true' 
        value=((user===undefined) ? '' : user.last_name)
        class='form-control'
      )
    div(class='form-group')
      label(for='email' class='form-label') Email:
      input(
        id='email' 
        name='email' 
        type='email' 
        required='true' 
        value=((user===undefined) ? '' : user.email)
        class='form-control'
      )
    div(class='form-group')
      label(for='password' class='form-label') Password:
      input(
        id='password' 
        name='password' 
        type='password' 
        required='true' 
        value=((user===undefined) ? '' : user.password)
        class='form-control'
      )
    div(class='form-group')
      label(for='password-confirmation' class='form-label') Confirm Password:
      input(
        id='password-confirmation' 
        name='password-confirmation' 
        type='password' 
        required='true' 
        value=((user===undefined) ? '' : user['password-confirmation'])
        class='form-control'
      )
    button(type='submit' class='btn btn-primary align-self-center') Sign Up
  
  if errors 
    div(class='alert alert-danger' role='alert') 
      ul 
        for error in errors
          li!= error.msg