extends layout

block content
  form(action='' method='POST')
    h1 Sign Up
    label(for='first-name') First Name
    input(
      id='first-name' 
      name='first_name' 
      type='text' 
      required='true' 
      value=((user===undefined) ? '' : user.first_name)
    )
    label(for='last-name') Last Name
    input(
      id='last-name' 
      name='last_name' 
      type='text' 
      required='true' 
      value=((user===undefined) ? '' : user.last_name)
    )
    label(for='email') Email
    input(
      id='email' 
      name='email' 
      type='email' 
      required='true' 
      value=((user===undefined) ? '' : user.email)
    )
    label(for='password') Password
    input(
      id='password' 
      name='password' 
      type='password' 
      required='true' 
      value=((user===undefined) ? '' : user.password)
    )
    label(for='password-confirmation') Confirm Password
    input(
      id='password-confirmation' 
      name='password-confirmation' 
      type='password' 
      required='true' 
      value=((user===undefined) ? '' : user['password-confirmation'])
    )
    button(type='submit') Sign Up
  
  if errors
    ul
      for error in errors
        li!= error.msg